* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen Mono', monospace;
    background: linear-gradient(to bottom, rgba(33, 1, 36, 1) 0%, rgba(33, 1, 36, 0.9) 100%);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    box-sizing: content-box;
    min-width: 1100px;
    max-width: 1155px;
    height: 100%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    background-color: #FFFCE8;
    color: #371A38;
    box-sizing: content-box;
    margin: 0 5em;
    padding: 20px;
    display: inline-block;
    position: relative;
}

.title {
    font-family: 'Bungee Shade', fantasy;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 0.5em;
}

.score-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.apples {
    display: flex;
    align-items: center;
}

.apple-score {
    width: 20px;
    margin-right: 0.5em;
}

.grid {
    background: url(../images/grid-bg.png);
    background-size: cover;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snake {
    background-color: #371A38;
}

.apple {
    width: 25px;
}

.overlay {
    background-color: rgba(0,0, 0, 0.5);
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 20px;
}

.popup-box {
    color: #FFFCE8;
    text-align: center;
    background-color: #c53d30;
    width: 65%;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameover {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1em;
}

input {
    font-family: 'Oxygen Mono', monospace;
    text-align: center;
    color: #371A38;
    background-color: #FFFCE8;
    border: 1px solid #371A38;
    margin-bottom: 2em;
    padding: 0.5em;
}

.commands, .leaderboard {
    color: #FFFCE8;
    background-color: rgba(255, 252, 232, 0.05);
    padding: 1.875em;
}

.commands {
    text-align: center;
    min-width: 225px;
}

.commands p {
    margin-bottom: 1.5em;
}

.enter {
    width: 52.5px;
    margin-bottom: 3.75em;
}

.arrows {
    width: 115px;
}

.leaderboard {
    min-width: 280px;
    min-height: 412.4px;
}

.score-title {
    text-align: center;
    margin-bottom: 1.5em;
}

.table {
    text-transform: lowercase;
    display: grid;
    grid-row-gap: 0.6em;
    grid-column-gap: 1em;
    grid-template-columns: 20px 100px auto;
}

.score {
    justify-self: right;
}

@media screen and (max-width:1280px) {
    html {
        font-size: 14px;
    }

    .title {
        margin-bottom: 0.25em;
    }

    .game {
        margin: 0 3em;
    }

    .commands {
        min-width: 172.5px;
    }

    .leaderboard {
        min-width: 206.8px;
        min-height: 358.1px;
    }
}